*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    min-height: 100vh;
    
}

nav{
    background-color: none ;
}

div.navbar{
    height: 10vh;
    background-color: rgb(164,246,246);
    padding-top: none;
    padding-bottom: none;
}




.main {
    height: 80vh;
    margin-top: 5%;
}


div.row{
    width: 100%;
    min-height: 60px;
    padding: 8px;
    margin-top: 10px;
    color: white;
    background-color: rgb(21, 117, 98);

}

.footerIn {
    height: 8vh;
    margin-top: 20%;
    background-color: rgb(164, 246, 246);
}